{% extends 'layout.html' %}

{% block content %}
  <h1>Project Showcase</h1>
  <div class="search-bar">
  </div>
  <div class="projects">
    {% for project in projects %}
      <div class="project-card">
        <h3 class="project-title">{{ project[2] }}</h3>
        <div class="project-author">{{ project[1] }}</div>
        <div class="project-description-tooltip">
          <div class="tooltip">
            <div class="tooltip-content">{{ project[3] }}</div>
          </div>
          <div class="tooltip-icon">i</div>
        </div>
        <video controls>
          <source src="{{ project[5] }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <a href="{{ project[4] }}" target="_blank">GitHub Repo</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
